@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

@import '@fontsource/fredoka/500.css';
@import '@fontsource/fredoka/600.css';

@import 'react-lazy-load-image-component/src/effects/blur.css';

html {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
    display: flex;
    flex: 1 1 auto;
    min-height: 100%;
    flex-direction: column;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
input {
    outline: none;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
* {
    white-space: pre-line;
}

.text {
    position: relative;
    font-size: 5rem;
    animation: slide 2s ease-in-out;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
